<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
    	<% for(var q in query){ %>
    		<%= q %> = <%= query[q] %> </br>
    	<% } %>
    </p>
  </body>
</html>
